<template>
  <div>
    <section v-if="success">
      <b-message
        title="Success"
        type="is-success"
        :closable="false"
        size="is-medium"
      >
        Head on over to Spotify to check it out or click below to create another
        playlist
        <hr />
        <button class="button is-success" @click="refresh">Go Agian</button>
        <!-- <button class="button is-danger is-outline is-pulled-right">Delete Playlist</button> -->
      </b-message>
    </section>
    <section v-else>
      <b-field grouped>
        <b-input
          size="is-large"
          expanded
          v-model="playlistName"
          :placeholder="this.defaultPlaylistName"
        ></b-input>
      </b-field>
      <b-field grouped position="is-centered">
        <p class="control">
          <b-button
            expanded
            class="button is-primary is-large notice-me"
            @click="confirm"
            >Add To Spotify</b-button
          >
        </p>
      </b-field>
    </section>
    <hr />
    <div v-if="Object.keys(this.$store.state.generatedPlaylist).length === 0">
      <div class="container has-text-centered">
        <div class="fulfilling-square-spinner">
          <div class="spinner-inner"></div>
        </div>
      </div>
    </div>
    <div v-else>
      <song-list
        :songs="this.$store.state.generatedPlaylist"
        :disableSelect="true"
      ></song-list>
    </div>
  </div>
</template>
<script>
import debounce from 'debounce'
import SongList from '~/components/SongList'
import VueScrollTo from 'vue-scrollto'
export default {
  components: {
    SongList
  },
  data: function() {
    return {
      playlistName: '',
      defaultPlaylistName:
        this.$store.state.bpm + ' BPM - Made with TempoSpotter'
    }
  },
  methods: {
    confirm() {
      this.$buefy.dialog.confirm({
        message: 'Are you sure you want to create this playlist on Spotify?',
        size: 'is-medium',
        onConfirm: () =>
          this.$store
            .dispatch(
              'createPlaylist',
              this.playlistName === ''
                ? this.defaultPlaylistName
                : this.playlistName
            )
            .then(() => {
              if (
                this.$store.state.spotifyResponse.attempted &&
                !this.$store.state.spotifyResponse.success
              ) {
                this.errorAlert()
              }
            })
      })
    },
    errorAlert() {
      this.$buefy.dialog.alert({
        title: 'Error Creating Playlist',
        message:
          'Something went wrong<br> <b>' +
          this.$store.state.spotifyResponse.message +
          '</b>',
        type: 'is-danger',
        size: 'is-medium'
      })
    },
    refresh() {
      location.reload()
    }
  },
  computed: {
    success() {
      return this.$store.state.spotifyResponse.success === true
    },
    message() {
      return this.$store.state.spotifyResponse.message
    }
  },
  mounted() {
    VueScrollTo.scrollTo('#app')
  }
}
</script>
