<template>
  <section>
    <b-field>
      <b-input
        placeholder="Search Spotify..."
        type="search"
        icon="magnify"
        size="is-medium"
        v-model="searchTerm"
        @input="searchSongs"
      >
      </b-input>
    </b-field>
    <song-list :songs="this.$store.state.songResults"></song-list>
  </section>
</template>
<script>
import debounce from 'debounce'
import SongList from '~/components/SongList'
export default {
  components: {
    SongList
  },
  data: function() {
    return {
      searchTerm: ''
    }
  },
  methods: {
    searchSongs: debounce(function(e) {
      this.$store.dispatch('searchSongs', this.searchTerm).then(() => {
        // Set the flag for interaction with the form
        if (!this.$store.state.formProgress.searched) {
          this.$store.dispatch('setSearched')
        }
      })
    }, 500)
  }
}
</script>
