<template>
  <section>
    <!-- <div class="box">
      <h1 class="title is-4">Your Song..</h1>
      <song-tile :song="this.$store.state.chosenSong"></song-tile>
    </div>
    <hr> -->
    <playlist-list :playlists="this.$store.state.playlists"></playlist-list>
  </section>
</template>
<script>
import SongTile from '~/components/SongTile'
import PlaylistList from '~/components/PlaylistList'
import VueScrollTo from 'vue-scrollto'
export default {
  components: {
    SongTile,
    PlaylistList,
  },
  mounted(){
    VueScrollTo.scrollTo("#app")
  }
}
</script>
