<template>
  <section class="current">
    <div class="columns is-vcentered">
      <div class="column">
        <!-- Track -->
        <div class="box container selected-song" @click="goToStep(0)">
          <h1 class="title is-size-4-touch has-text-white">Your Chosen Song</h1>
          <div class="columns">
            <div class="colum">
              <img
                height="80"
                width="80"
                :src="this.song.album.images[1].url"
              />
            </div>
            <div class="column">
              <h1 class="title is-5 has-text-lighter-grey">
                {{ this.song.name }}
              </h1>
              <h2 class="subtitle is-6 has-text-lighter-grey">
                {{ this.song.artists[0].name }} 
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <!-- Playlist -->
        <div v-bind:class="[!noPlaylist ? 'selected-song' : '' , 'box', 'container']" @click="goToStep(1)">
          <h1 v-bind:class="[!noPlaylist ? 'has-text-white' : '' , 'title', 'is-size-4-touch']">
            {{
             noPlaylist
                ? 'Choose a Playlist'
                : 'Your Chosen Playlist'
            }}
          </h1>
          <div class="columns">
            <div class="colum">
              <img
                height="80"
                width="80"
                :src="noPlaylist ? 'https://developer.spotify.com/assets/branding-guidelines/icon1@2x.png' : this.playlist.images[0].url"
              />
            </div>
            <div class="column">
              <h1 class="title is-5 has-text-lighter-grey">
                {{
                  noPlaylist
                    ? 'None Selected'
                    : this.playlist.name
                }}
              </h1>
              <h2 class="subtitle is-6 has-text-lighter-grey">
                {{
                  this.playlist.owner.display_name === ''
                    ? 'Select Below'
                    : this.playlist.owner.display_name
                }}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    playlist: Object,
    song: Object
  },
  computed: {
      noPlaylist(){
          return this.playlist.name === '';
      }
  },
  methods: {
      goToStep(step){
          this.$store.dispatch('setProgress', step)
      }
  }
}
</script>
<style scoped>
.box{
    cursor: pointer;
}
.current{
  margin-bottom: 10px;
}
</style>