<template>
  <section>
    <div class="columns is-vcentered">
      <div class="column is-narrow">
        <!-- Art -->
        <img height="150" width="150" :src="this.playlist.images[0] ? this.playlist.images[0].url : 'https://developer.spotify.com/assets/branding-guidelines/icon1@2x.png'" />
      </div>
      <div class="column is-narrow">
        <!-- Song Name -->
        <h1 class="title is-3">
          {{ this.playlist.name }}
        </h1>
        <h2 class="subtitle is-5">
          {{
            this.playlist.owner.display_name ===
            this.$store.state.auth.user.display_name
              ? 'You made this'
              : this.playlist.owner.display_name
          }}
        </h2>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    playlist: Object
  },
}
</script>
<style scoped></style>
