<template>
  <section>
    <div v-if="this.playlists.length > 1">
      <div
        class="box grow click"
        v-for="playlist in playlists"
        v-bind:key="playlist.id"
        @click="selectPlaylist(playlist)"
      >
        <playlist-tile :playlist="playlist"></playlist-tile>
      </div>
    </div>
    <div v-else>
      <div class="container has-text-centered box select-song">
        <h2 class="subtitle is-5">
          No plsylists found
          <b-icon icon="emoticon-sad"></b-icon>
        </h2>
      </div>
    </div>
  </section>
</template>
<script>
import PlaylistTile from '~/components/PlaylistTile'
export default {
  components: {
    PlaylistTile
  },
  props: {
    playlists: Array
  },
  methods: {
    selectPlaylist(playlist) {
      // Add the song to the selected store
      this.$store.dispatch('chooseSeed', playlist)
      // Generate a playlist
      this.$store.dispatch('generatePlaylist')
      // Move the form counter on to 2
      this.$store.dispatch('setProgress', 2)
    }
  }
}
</script>
<style scoped>
.box:hover {
  cursor: pointer;
}
</style>
