<template>
  <section>
    <div class="">
      <div class="columns is-vcentered has-text-centered">
        <div class="column is-narrow">
          <!-- Art -->
          <img
            height="150"
            width="150"
            :src="this.song.album.images[1].url"
          />
        </div>
        <div class="column">
          <!-- Song Name -->
          <h1 class="title is-3">
            {{ this.song.name }}
          </h1>
          <h2 class="subtitle is-5">
            {{ this.song.artists[0].name }}
          </h2>
          <!-- Artist -->
        </div>
        <div class="column">
          <!-- BPM -->
          <div class="title is-3">
            {{ this.song.bpm }} <span class="has-text-grey">BPM</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    song: Object
  },
  data: function() {
    return {
      testSong: {
        album: {
          album_type: 'album',
          artists: [
            {
              external_urls: {
                spotify:
                  'https://open.spotify.com/artist/521Yl3LUvD7G9dMRO4fpCy'
              },
              href: 'https://api.spotify.com/v1/artists/521Yl3LUvD7G9dMRO4fpCy',
              id: '521Yl3LUvD7G9dMRO4fpCy',
              name: 'Korpiklaani',
              type: 'artist',
              uri: 'spotify:artist:521Yl3LUvD7G9dMRO4fpCy'
            }
          ],
          external_urls: {
            spotify: 'https://open.spotify.com/album/6QiLFD2c12JZlP7OE9gg8L'
          },
          href: 'https://api.spotify.com/v1/albums/6QiLFD2c12JZlP7OE9gg8L',
          id: '6QiLFD2c12JZlP7OE9gg8L',
          images: [
            {
              height: 640,
              url:
                'https://i.scdn.co/image/ab67616d0000b273a1e5380ce40b525560d74c67',
              width: 640
            },
            {
              height: 300,
              url:
                'https://i.scdn.co/image/ab67616d00001e02a1e5380ce40b525560d74c67',
              width: 300
            },
            {
              height: 64,
              url:
                'https://i.scdn.co/image/ab67616d00004851a1e5380ce40b525560d74c67',
              width: 64
            }
          ],
          name: 'Karkelo',
          release_date: '2009-06-26',
          release_date_precision: 'day',
          total_tracks: 13,
          type: 'album',
          uri: 'spotify:album:6QiLFD2c12JZlP7OE9gg8L'
        },
        artists: [
          {
            external_urls: {
              spotify: 'https://open.spotify.com/artist/521Yl3LUvD7G9dMRO4fpCy'
            },
            href: 'https://api.spotify.com/v1/artists/521Yl3LUvD7G9dMRO4fpCy',
            id: '521Yl3LUvD7G9dMRO4fpCy',
            name: 'Korpiklaani',
            type: 'artist',
            uri: 'spotify:artist:521Yl3LUvD7G9dMRO4fpCy'
          }
        ],
        disc_number: 1,
        duration_ms: 179653,
        explicit: false,
        external_ids: { isrc: 'DED830900335' },
        external_urls: {
          spotify: 'https://open.spotify.com/track/2k6dU3c2IBotzynOyevHJx'
        },
        href: 'https://api.spotify.com/v1/tracks/2k6dU3c2IBotzynOyevHJx',
        id: '2k6dU3c2IBotzynOyevHJx',
        is_local: false,
        name: 'Vodka',
        popularity: 51,
        preview_url:
          'https://p.scdn.co/mp3-preview/ba44d2e8843dfeec7445541135ded013cebf31df?cid=ef46db29868d4ffd85fb6b87ccd7c235',
        track_number: 1,
        type: 'track',
        uri: 'spotify:track:2k6dU3c2IBotzynOyevHJx'
      }
    }
  },
  methods: {},
  mounted() {}
}
</script>
<style scoped></style>
