<template>
  <section>
    <div v-if="this.songs.length > 0">
      <div
        class="box grow click"
        v-for="track in songs"
        v-bind:key="track.id"
        @click="selectSong(track)"
      >
        <song-tile :song="track"></song-tile>
      </div>
    </div>
    <div v-else>
      <div class="container has-text-centered box select-song">
        <div v-if="!this.$store.state.formProgress.searched">
          <h2 class="subtitle is-5">Search for your current running song to get started</h2>
        </div>
        <div v-else>
          <h2 class="subtitle is-5">
            No results found
            <b-icon icon="emoticon-sad"></b-icon>
          </h2>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import SongTile from '~/components/SongTile'
export default {
  components: {
    SongTile
  },
  props: {
    songs: Array,
    disableSelect: false
  },
  methods: {
    selectSong(track) {
      if (!this.disableSelect) {
        // Add the song to the selected store
        this.$store.dispatch('chooseTrack', track)
        // Move the form counter on by 1
        this.$store.dispatch('setProgress', 1)
      }
    }
  }
}
</script>
<style scoped>
.box:hover {
  cursor: pointer;
}
</style>
