/*
    Global Animations / Utility
*/
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.03);
  -webkit-box-shadow: 10px 10px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px -6px rgba(0, 0, 0, 0.75);
}
.click {
  transition: all 0.15s ease-in-out;
}
.click:active {
  transform: scale(0.95);
}

.notice-me {
  animation: pusle 0.8s 0.9s alternate backwards infinite
}
.notice-me:hover {
  animation: none
}
@keyframes pusle {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}


// .select-song {
//   background-color: #29c785;
//   -webkit-transition: background-color 0.4s ease-out;
//   -moz-transition: background-color 0.4s ease-out;
//   -o-transition: background-color 0.4s ease-out;
//   transition: background-color 0.4s ease-out;
// }



/*
    Bulma Variables
*/
@import '~bulma/sass/utilities/_all';
$primary: #29c785;
$info: #245760;
$link-active: $info;

$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  ),
  'active': (
    $info,
    $info-invert
  )
);

@import '~bulma';
@import '~buefy/src/scss/buefy';

/*
    Probably unessesary overrides
*/
.menu-list a.is-active {
  background-color: $primary;
}
.selected-song{
  background-color: $primary;
}



/*
  Epic Spinners
*/
.fulfilling-square-spinner,
.fulfilling-square-spinner * {
  box-sizing: border-box;
}

.fulfilling-square-spinner {
  height: 50px;
  width: 50px;
  position: relative;
  border: 4px solid $primary;
  animation: fulfilling-square-spinner-animation 4s infinite ease;
}

.fulfilling-square-spinner .spinner-inner {
  vertical-align: top;
  display: inline-block;
  background-color: $primary;
  width: 100%;
  opacity: 1;
  animation: fulfilling-square-spinner-inner-animation 4s infinite ease-in;
}

@keyframes fulfilling-square-spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fulfilling-square-spinner-inner-animation {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}