<template>
  <div>
    <nav
      class="navbar header has-shadow is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="~assets/resized-cover.png" alt="Buefy" height="28" />
        </a>

        <div class="navbar-burger">
          <span />
          <span />
          <span />
        </div>
      </div>
    </nav>
    <div class="hero is-primary">
      <div id="main-hero" class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column is-4 is-offset-1 has-text-left">
              <h1 class="title components-title is-1">
                TempoSpotter
              </h1>
              <h2 class="subtitle is-4 components-subtitle">
                Create your running playlist in 3 simple steps
              </h2>
              <div
                class="button is-info is-rounded is-medium"
                v-scroll-to="'#app'"
              >
                Get Started Below
              </div>
            </div>
            <div class="column is-offset-1 has-text-centered is-hidden-mobile">
              <div id="features-ill" class="vivus-svg">
                <img src="~/assets/main_image.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <section class="main-content columns">
      <div id="app" class="container column">
        <nuxt />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        },
        {
          title: 'About',
          icon: 'lightbulb',
          to: { name: 'spotify' }
        },
        {
          title: 'Help',
          icon: 'help',
          to: { name: 'spotify' }
        }
      ]
    }
  }
}
</script>
