<template>
  <section>
    <b-steps size="is-large" v-model="step" :has-navigation="false" :destroy-on-hide="true">
      <b-step-item label="Song" icon="music">
        <section class="box">
          <song></song>
        </section>
      </b-step-item>
      <b-step-item label="Vibe" icon="emoticon-happy">
        <section class="box">
          <current
            :song="this.$store.state.chosenSong"
            :playlist="this.$store.state.chosenSeed"
          ></current>
          <hr />
          <vibe></vibe>
        </section>
      </b-step-item>
      <b-step-item label="Review" icon="marker-check">
        <section class="box">
          <current
            :song="this.$store.state.chosenSong"
            :playlist="this.$store.state.chosenSeed"
          ></current>
          <hr />
          <review></review>
        </section>
      </b-step-item>
    </b-steps>
  </section>
</template>
<script>
import debounce from 'debounce'
import Song from '~/components/steps/Song'
import Vibe from '~/components/steps/Vibe'
import Review from '~/components/steps/Review'
import Current from '~/components/Current'

export default {
  components: {
    Song,
    Vibe,
    Review,
    Current
  },
  data: function() {
    return {
      searchTerm: ''
    }
  },
  computed: {
    step: {
      get: function() {
        return this.$store.getters.formState
      },
      set: function(step) {
        this.$store.dispatch('setProgress', step)
      }
    }
  },
  mounted() {
    this.$router.replace('/')
    this.$store.dispatch('fetchPlaylists')
  }
}
</script>
<style scoped>
html {
  scroll-behavior: smooth;
}
</style>
