<template>
  <div>
    <div class="title">Hang on a mo' we're asking Spotify to play with us</div>
    <div class="fulfilling-square-spinner">
      <div class="spinner-inner"></div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
      this.$auth.loginWith('social').then((test) => {
          console.log(test);
          console.log('TEST');
          console.log(this.$auth.getUseToken());
      });
  }
}
</script>

<style>

</style>
